@import "vendors", "vars";
 
*{ @include box-size; }

::selection{
  background: $dark;
  color: $mainCol;
}
body{
  overflow-x: hidden;
  color: $dark;
  background-color: $light;
  margin: 0;
  font-family: $fontText;
}
a{
  text-decoration: none;
  color: unset;
}

@mixin inputImage($top, $left){
  position: absolute;
  top: $top;    // 3
  left: $left;  // 13
}