@import "config";

main{ 
  color: $dark; 
  background-image: url(../../media/images/bg/bg-animated-shapes.svg);
}

main #login-form{
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  @include dimensions(100%);
  @include perfect_center;
  align-items: normal;
  
  h2{
  margin: 0;
    padding: 30px 0;
    font-size: 50px; 
    @include media($small){ font-size: 38px; }
  }  
  input, button{
    border: none;
    outline: none;
    background: none;
  }

  .form{
    background-color: $extraCol;
    padding: 20px $pad;
    width: 100%;
    position: relative;
    border-radius: $radius;
    border: bord(1px);
    
    @include media($tablet){ width: 650px; padding: 20px}

    span, input, button{
      font-size: 15px;

      @include media($small){ font-size: 12px; }
      @include media($bigPhone){ font-size: 18px; }
    }
  }
  .sign-in{ @include media($bigPhone){ height: 450px; } }
  .sign-up{ @include media($bigPhone){ height: 550px; } }

  .take-info{
    label{ 
      display: block; 
      position: relative; 
      margin-bottom: $pad*3;
      &:last-child{ margin-bottom: $pad; }
    }
    label span{
      background-color: $extraCol;
      font-weight: bold;
      padding: 0 $pad/2;
      position: absolute;
      bottom: $pad; 
      left: ($pad/2) + 2px; // padding + borderWidth

      @include transition(300ms);
    }
    label input{
      display: block;
      background-color: transparent;
      position: relative;
      z-index: 1;
      border: bord(1px);
      border-radius: 3px;
      width: 100%;
      padding: $pad;
      @include transition(box-shadow 300ms);
      
      &:focus{
        outline: bord(1px);
        box-shadow: 0px 0px 4px 2px $mainCol;
      }

      &:focus ~ span, &:valid ~ span{
        bottom: 28px;
        z-index: 2;
        font-size: 12px;

        @include media($small){ font-size:9px; bottom:26px; }
        @include media($bigPhone){ font-size:15px; }
      }
    }
  }
  .submit {
    @include flex(nowrap, column);
    justify-content: space-around;
    margin-top: 20px;
    @include media($bigPhone){
      flex-direction: row;
    }

    button{
      display: block;
      background-color: $dark;
      color: $light;
      font: { weight:500; } 
      padding: $pad;

      border-radius: $radius;
      flex-grow: 1;
      cursor: pointer;
      margin-bottom: $pad;

      @include media($bigPhone){
        width: 50%;
        &:not(&:last-child){ margin-right: $pad; }
      }
    }
  }
  .forgot-pass{
    text-align: center;
    font: { size: 14px; weight: 600; }
    cursor: pointer;
  }

  .forgot-pass:hover{ text-decoration: underline; }
}