* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-moz-selection {
  background: #005257;
  color: #BDFF00;
}

::selection {
  background: #005257;
  color: #BDFF00;
}

body {
  overflow-x: hidden;
  color: #005257;
  background-color: #ECF5CE;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

main {
  color: #005257;
  background-image: url(../../media/images/bg/bg-animated-shapes.svg);
}

main #login-form {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: normal;
}
main #login-form h2 {
  margin: 0;
  padding: 30px 0;
  font-size: 50px;
}
@media only screen and (max-width: 300px) {
  main #login-form h2 {
    font-size: 38px;
  }
}
main #login-form input, main #login-form button {
  border: none;
  outline: none;
  background: none;
}
main #login-form .form {
  background-color: #ABB981;
  padding: 20px 7px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  border: 1px inset #005257;
}
@media only screen and (min-width: 768px) {
  main #login-form .form {
    width: 650px;
    padding: 20px;
  }
}
main #login-form .form span, main #login-form .form input, main #login-form .form button {
  font-size: 15px;
}
@media only screen and (max-width: 300px) {
  main #login-form .form span, main #login-form .form input, main #login-form .form button {
    font-size: 12px;
  }
}
@media only screen and (min-width: 500px) {
  main #login-form .form span, main #login-form .form input, main #login-form .form button {
    font-size: 18px;
  }
}
@media only screen and (min-width: 500px) {
  main #login-form .sign-in {
    height: 450px;
  }
}
@media only screen and (min-width: 500px) {
  main #login-form .sign-up {
    height: 550px;
  }
}
main #login-form .take-info label {
  display: block;
  position: relative;
  margin-bottom: 21px;
}
main #login-form .take-info label:last-child {
  margin-bottom: 7px;
}
main #login-form .take-info label span {
  background-color: #ABB981;
  font-weight: bold;
  padding: 0 3.5px;
  position: absolute;
  bottom: 7px;
  left: 5.5px;
  transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  -moz-transition: 300ms;
}
main #login-form .take-info label input {
  display: block;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: 1px inset #005257;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  transition: box-shadow 300ms;
  -webkit-transition: box-shadow 300ms;
  -o-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
}
main #login-form .take-info label input:focus {
  outline: 1px inset #005257;
  box-shadow: 0px 0px 4px 2px #BDFF00;
}
main #login-form .take-info label input:focus ~ span, main #login-form .take-info label input:valid ~ span {
  bottom: 28px;
  z-index: 2;
  font-size: 12px;
}
@media only screen and (max-width: 300px) {
  main #login-form .take-info label input:focus ~ span, main #login-form .take-info label input:valid ~ span {
    font-size: 9px;
    bottom: 26px;
  }
}
@media only screen and (min-width: 500px) {
  main #login-form .take-info label input:focus ~ span, main #login-form .take-info label input:valid ~ span {
    font-size: 15px;
  }
}
main #login-form .submit {
  display: flex;
  display: -webkit-flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  margin-top: 20px;
}
@media only screen and (min-width: 500px) {
  main #login-form .submit {
    flex-direction: row;
  }
}
main #login-form .submit button {
  display: block;
  background-color: #005257;
  color: #ECF5CE;
  font-weight: 500;
  padding: 7px;
  border-radius: 7px;
  flex-grow: 1;
  cursor: pointer;
  margin-bottom: 7px;
}
@media only screen and (min-width: 500px) {
  main #login-form .submit button {
    width: 50%;
  }
  main #login-form .submit button:not(main #login-form .submit button:last-child) {
    margin-right: 7px;
  }
}
main #login-form .forgot-pass {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
main #login-form .forgot-pass:hover {
  text-decoration: underline;
}/*# sourceMappingURL=account.css.map */